.env

# next app and flask gitignore


# dependencies
node_modules
# production
build
# misc
.DS_Store
# dotenv environment variables file
.env.local
# next.js build output
.next
# next.js static files
out

__pycache__
# Python
*.py[cod]
__pycache__/
*.pyc