aiofiles==23.2.1
altgraph==0.17.2
annotated-types==0.7.0
anyio==4.9.0
appdirs==1.4.4
appnope==0.1.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
asttokens==2.0.5
attrs==21.4.0
audioread==2.1.9
backcall==0.2.0
backoff==2.2.1
bcrypt==4.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
boto3==1.34.118
botocore==1.34.118
build==1.2.2.post1
cachetools==5.5.0
certifi==2025.1.31
cffi==1.15.0
chardet==3.0.4
charset-normalizer==2.0.12
chroma-hnswlib==0.7.6
chromadb==0.5.15
click==8.1.7
coloredlogs==15.0.1
cycler==0.11.0
dataclasses==0.6
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
distlib==0.3.8
distro==1.9.0
durationpy==0.9
entrypoints==0.4
exceptiongroup==1.2.2
executing==0.8.3
fastapi==0.115.3
fastjsonschema==2.15.3
ffmpy==0.4.0
filelock==3.14.0
flatbuffers==24.3.25
fonttools==4.33.3
fsspec==2024.10.0
geographiclib==1.52
geopy==2.2.0
gnureadline==8.1.2
google==3.0.0
google-auth==2.35.0
google-genai==1.7.0
googleapis-common-protos==1.65.0
googletrans==4.0.0rc1
gradio==5.9.1
gradio_client==1.5.2
groq==0.13.1
grpcio==1.67.0
h11==0.14.0
h2==3.2.0
hpack==3.0.0
hstspreload==2024.12.1
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.26.1
humanfriendly==10.0
hyperframe==5.2.0
idna==2.10
importlib_metadata==8.4.0
importlib_resources==6.4.5
instagram-private-api==1.6.0.0
ipykernel==6.13.0
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.1
jmespath==1.0.1
joblib==1.1.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.2.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.2.0
jupyterlab-widgets==1.1.0
kiwisolver==1.4.2
kubernetes==31.0.0
langchain-chroma==0.1.4
langchain-core==0.3.13
langchain-huggingface==0.1.0
langsmith==0.1.137
lcapy==1.10.1
librosa==0.9.1
llvmlite==0.38.1
lxml==5.3.0
macholib==1.16
markdown-it-py==3.0.0
MarkupSafe==2.1.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mdurl==0.1.2
mistune==0.8.4
mmh3==5.0.1
monotonic==1.6
mpmath==1.2.1
nbclient==0.5.13
nbconvert==6.5.0
nbformat==5.3.0
nest-asyncio==1.5.5
networkx==2.8.8
notebook==6.4.10
numba==0.55.2
numpy==1.24.4
oauthlib==3.2.2
onnxruntime==1.19.2
opencv-python==4.7.0.68
opentelemetry-api==1.27.0
opentelemetry-exporter-otlp-proto-common==1.27.0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation==0.48b0
opentelemetry-instrumentation-asgi==0.48b0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-proto==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
opentelemetry-util-http==0.48b0
orjson==3.10.10
overrides==7.7.0
packaging==24.1
pandas==1.4.2
pandas-datareader==0.10.0
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
platformdirs==4.2.1
pooch==1.6.0
posthog==3.7.0
prettytable==0.7.2
prometheus-client==0.14.1
prompt-toolkit==3.0.29
property-cached==1.6.4
protobuf==4.25.5
psutil==5.9.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.21
pydantic==2.9.2
pydantic_core==2.23.4
pydub==0.25.1
Pygments==2.18.0
pyinstaller==5.3
pyinstaller-hooks-contrib==2022.8
pyparsing==3.0.8
PyPika==0.48.9
pyproject_hooks==1.2.0
pyrsistent==0.18.1
pytesseract==0.3.13
python-dateutil==2.8.2
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2022.1
PyYAML==6.0.2
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.0.1
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resampy==0.2.2
rfc3986==1.5.0
rich==13.9.3
rsa==4.9
ruff==0.8.3
s3transfer==0.10.1
safehttpx==0.1.6
safetensors==0.4.5
scikit-learn==1.1.1
scipy==1.8.0
seaborn==0.11.2
semantic-version==2.10.0
Send2Trash==1.8.0
sentence-transformers==3.2.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
SoundFile==0.10.3.post1
soupsieve==2.3.2
stack-data==0.2.0
starlette==0.41.2
sympy==1.13.1
tenacity==9.0.0
terminado==0.13.3
threadpoolctl==3.1.0
tinycss2==1.1.1
tokenizers==0.20.1
tomli==2.0.2
tomlkit==0.13.2
torch==2.5.0
tornado==6.1
tqdm==4.66.5
traitlets==5.1.1
transformers==4.46.0
typer==0.12.5
typing_extensions==4.12.2
urllib3==1.25.11
uvicorn==0.32.0
uvloop==0.21.0
virtualenv==20.26.1
watchfiles==0.24.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.8.0
websockets==13.1
widgetsnbextension==3.6.0
wrapt==1.16.0
zipp==3.20.2
